@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

* {
  font-family: Outfit;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

@theme {
  /* colors */
  --color-primaryText: oklch(21% 0.034 264.665);
  --color-primaryText-dark: oklch(96.7% 0.003 264.542);
  --color-secondaryText: oklch(44.6% 0.03 256.802);
  --color-secondaryText-dark: oklch(87.2% 0.01 258.338);
}
