@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  font-family: Outfit;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

@theme {
  /* colors */
  --color-lightHover: #e1dcdb;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /* font family  */
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;

  /* box shadow  */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

/* Dark mode overrides */
.dark {
  --color-lightHover: #2a004a;
  --color-darkHover: #e1dcdb;
}
